<html>
	<div id = "home_page_image">

	<h1>Build<h1>

		<h3>“You cannot dream yourself into a character: you must hammer and forge yourself into one.”</h3>

		<%= link_to "Sign Up", users_new_path, :class => "btn btn-default" %>
		<%= link_to "Log In", '#', :class => "btn btn-default" %>

	</div>
</html>