<h1>Calorie and Macro Dashboard</h1>

<h3>Calories</h3>
<p> Net Calorie target: <%= @daily_calories %></p>
<p> Consumed:</p>
<p> Burned: </p>
<p> Remaining:</p>

<h3>Protein</h3>
<p> Target:</p>
<p> Consumed:</p>
<p> Remaining:</p>

<h3>Carbs</h3>
<p> Target:</p>
<p> Consumed:</p>
<p> Remaining:</p>