<h1>Food Dashboard</h1>

<h3>Calories</h3>
<p> Target: <%= @daily_calories %> </p>
<p> Consumed:</p>
<p> Remaining:</p>

<h3>Protein</h3>
<p> Target:</p>
<p> Consumed:</p>
<p> Remaining:</p>

<h3>Carbs</h3>
<p> Target:</p>
<p> Consumed:</p>
<p> Remaining:</p>