<h1>Welcome, <%= @username %>!<h1>

<a href= '#' class ="btn btn-primary btn-lg" role = "button">Quick Add: Food </a>
<a href= '#' class ="btn btn-primary btn-lg" role = "button">Quick Add: Water </a>
<a href= '#' class ="btn btn-primary btn-lg" role = "button">Quick Add: Sleep </a>
<a href= '#' class ="btn btn-primary btn-lg" role = "button">Quick Add: Workout </a>